:root > * {
  --md-primary-fg-color:        #002E5D;
  --md-primary-fg-color--light: #FFFFFF;
  --md-primary-fg-color--dark:  #0047BA;
  --md-accent-fg-color:         #0047BA;
  --md-default-bg-color--light: #002E5D;
  /* --md-default-fg-color:        #FFFFFF; */
  --white: #FFFFFF;

  
}

.md-icon svg{
  fill: var(--md-primary-fg-color);
}

.md-header {
  color: var(--white);
}

.md-search__button {
  /* background-color: var(--white); */
  color: var(--white);
}

.md-footer {
  background-color: var(--md-primary-fg-color);
  color: var(--white);
}

.md-copyright {
  color: var(--white);
}

.md-copyright__highlight {
  color: var(--white);
}

.md-sidebar {
  background-color: #FFFFFF;
}

.md-top {
  color: #FFFFFF;
}

.md-typeset .grid {
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}

.md-typeset .grid.cards img {
  display: block;
  margin: 0.5rem auto 0;
}