:root > * {
  --md-primary-fg-color: #002e5d;
  --md-primary-fg-color--light: #ffffff;
  --md-primary-fg-color--dark: #0047ba;
  --md-accent-fg-color: #0047ba;
  --md-default-bg-color--light: #002e5d;
  /* --md-default-fg-color:        #FFFFFF; */
  --white: #ffffff;
}

.md-icon svg {
  fill: var(--md-primary-fg-color);
}

.md-header {
  color: var(--white);
}

.md-search__button {
  /* background-color: var(--white); */
  color: var(--white);
}

.md-footer {
  background-color: var(--md-primary-fg-color);
  color: var(--white);
}

.md-copyright {
  color: var(--white);
}

.md-copyright__highlight {
  color: var(--white);
}

.md-sidebar {
  background-color: #ffffff;
}

.md-top {
  color: #ffffff;
}

.md-typeset .grid {
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}

.md-typeset .grid.cards img {
  display: block;
  margin: 0.5rem auto 0;
}

.tag {
  display: inline-block;
  padding: 2px 6px;
  font-size: 0.6rem;
  border-radius: 4px;
  background: var(--md-code-bg-color);
}
